CuteCalendar.xcworkspace/xcuserdata/anikin.xcuserdatad
.swiftpm/xcode/xcuserdata/anikin.xcuserdatad
Examples/CuteCalendarExample.xcodeproj/project.xcworkspace/xcuserdata/anikin.xcuserdatad
Examples/CuteCalendarExample.xcodeproj/xcuserdata/anikin.xcuserdatad
.DS_Store
